*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial',sans-serif;
    font-size : 16px;
    line-height: 1.6rem;
    color : #333;
    background: #f9f9f9;
}

header {
    text-align: center;
    background-color: #1a73e8;
    color: white;
    padding: 1rem;
}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

nav ul  {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    size: 0.9rem;
    padding: 0.5rem;
    display: block;
}

.hero {
    text-align: center;
    padding: 1.5rem 1rem;
    background: #e8f0fe;
    line-height: 2rem;
}

.cta-btn {
    text-decoration: none;
    background: #1a73e8;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    display: inline-block;
}

.cards {
    padding: 1rem;
}

.card {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    background: white;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 2px 9px;
}

.card h3 {
    margin-bottom: 10px;
    size: 1.3rem;
}

footer {
    color: white;
    background: grey;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    clear: both;
}

@media (min-width: 600px) {
    header h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
    header li {
        display: inline-block;
        margin: 0.5rem;
    }
        nav a {
        font-size: 1rem;
    }
    .hero { 
        padding: 2rem 1.5rem    ;
    }
    .hero h2 {
        font-size: 2rem;
    }
    .cards {
        padding: 1.5rem;
    }
        .card {
        width: 47%;
        float: left;
        margin-left: 2%;
        margin-bottom: 2rem;
    }
    footer {
        margin-top: 20%;
    }
}

@media (min-width: 992px) {
    body {
        max-width: 1200px;
        margin: 2% auto;
    }
    
    header {
        padding: 1.5rem;
    }

    header h1 {
        width: 45%;
        display: inline-block;
    }
     header nav  {
        width: 45%;
        display: inline-block;
    }

    .hero {
        line-height: 30px;
    }

    .hero h2 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .card {
        width: 47%;
        float: left;
        margin-left: 2%;
        margin-bottom: 1.5rem;
    }

    .cta-btn {
               padding: 0.6rem 1rem;
        margin-top: 20px;
    }

    footer {
        padding: 1rem;
        font-size: 1rem;
    }
}