 h1{
            color: red;
        }

        .green-heading {
            color: green;
        }
        #yellow-heading {
            color: yellow;
        }
            #content-wrapper{
              font-size: 16px;  
            }
            #paragraph-1{
                font-size: 1.2em;
                background-color: aqua;
                width: 40%;
                height: 70vh;

            }
            #paragraph-2{
                background-color: grey;
                width: 50%;
                height: 20vh;
            }
            #paragraph-3{
                font-size: 1.2rem;
            }