*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Container {
    width: 100%;
    max-width: 799px;
    margin: 0 auto;
}

img{
    width: 100%;
    height: auto;
    display: block;
}