*{
    box-sizing: border-box;    
}

.navbar{
    width: 100%;
    margin: 0 auto;
    background-color: #333;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
.navbar ul li {
    width: 100%;
    padding: 20px;
    text-align: center;
}

.navbar ul a{
    color: white;
    text-decoration: none;
    font-family: "Arial";
}

@media (min-width: 768px) {
    #call {
         width: 24%;
        float: left;
    }
}

.navbar ul::after {
    content: "";
    display: block;
    clear: both;
}
