*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Space mono',monospace;
}

.found{
    margin: 10px;
    font-family: 'Inconsolata', 'Spacemono';
    font-weight:bold;
    text-transform: uppercase;
    font-size: 20px;
}

.left {
    text-align: center;
    float: left;
    width: 49%;
    margin: 0 auto;
    padding: 55px;
    vertical-align: top;
}



.right {
    float: right;
    width: 50%;
    padding: 60px;
    vertical-align: bottom;
}

.right h1{
    font-size: 55px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.right p{
    line-height: 1.5;
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 300;
}

.container a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    
}

.footer{
    clear: both;
    margin-top: 43%;
    text-align: center;
    font-size: 12px;
    color: #999;
}
.footer span{
    font-weight: bold;
}