@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}


body{
    font-family: roboto,sans-serif;
    font-style: italic;
    font-weight: 900;
}

.one{
    display: block;
    margin: 10px 20px;
    padding: 40px;
    background-color: chocolate;
    font-family: roboto,sans-serif;
    line-height: 2;
    text-align: center;
    text-decoration: underline;
}

.two{
    display: block;
    margin: 10px 20px;
    padding: 40px;
    background-color: chocolate;
    
}

.three{
    display: inline;
    margin: 20px;
    padding: 8px;
    background-color: yellow;
    vertical-align: top;
}

.four{
    display: inline-block;
    padding: 8px;
    background-color: yellow;
    display: none;
}